<div class="main">
  <div class="navigation">
    <ul>
      <li class="list active" routerLink="/Home/Main">
        <a>
          <span class="icon"><i class="fa-solid fa-house-user"></i></span>
          <span class="text">Home</span>
        </a>
      </li>
      <li class="list" routerLink="/Home/Profile">
        <a>
          <span class="icon"><i class="fa-solid fa-user"></i></span>
          <span class="text">Profile</span>
        </a>
      </li>
      <li class="list" routerLink="/Home/Proyects">
        <a href="">
          <span class="icon"><i class="fa-solid fa-chalkboard-user"></i></span>
          <span class="text">Proyects</span>
        </a>
      </li>
      <li class="list" routerLink="/Home/Tech">
        <a href="">
          <span class="icon"><i class="fa-solid fa-hammer"></i> </span>
          <span class="text">Technology </span>
        </a>
      </li>

      <div class="indicator"></div>
    </ul>
  </div>
</div>
