<div class="container">
  <div class="footer">
    <div class="contacto iguales">
      <ul class="items">
        <li class="item">
          <label for="">Telefono: </label>
          <span>3215058309</span>
        </li>
        <li class="item">
          <label for="">Correo: </label>
          <span>gaviriasantiago1997@gmail.com</span>
        </li>
      </ul>
    </div>
    <div class="social">
      <div class="iconos">
        <ul class="redes">
          <li class="icon">
            <a href="#">
              <img src="../../../assets/instagram.png" alt="facebook"
            /></a>
          </li>
          <li class="icon">
            <a href="#">
              <img src="../../../assets/facebook.png" alt="facebook"
            /></a>
          </li>
          <li class="icon">
            <a href="#">
              <img src="../../../assets/linkedin.png" alt="facebook"
            /></a>
          </li>
        </ul>
      </div>
      <div class="mensaje">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, ipsum
          debitis quasi sunt mollitia id tempora consequuntur porro ipsam
          eligendi, aliquam totam reprehenderit obcaecati ut neque explicabo
          eaque ab delectus.
        </p>
      </div>
    </div>
    <div class="ubicacion iguales">
      <div class="flex-columns">
        <i class="fa-solid fa-location-dot"></i>
        <span>Carrera 1 # 5a-15</span>
      </div>
    </div>
  </div>
</div>
